@charset "UTF-8";
.my-class {
    color: black;
    background-color: cornflowerblue;
    text-align: center;
    padding: 1.0em;
    width: 40cm;
    height: 1cm;
}
.my-container {
    background-image: url("../images/San-Juans.jpg");
    border: 3px inset #000000;
    height: 250px;
    font-size: 16px;
    padding-top: 30px;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
    text-align: center;
    width: 520px;
    margin-top: -1px;
    margin-left: 1px;
    color: #FFFFFF;
}
#footer {
  font-size: 1.0rem;
}
